@model CleanArch.Application.ViewModels.ProductViewModel
@{
    ViewData["Title"] = $"Delete Product";
}

<div class="container">
    <div>
        <div class="col border-bottom" style="width:80%">
            <h1 class="display-6">@ViewData["Title"]</h1>
        </div>
    </div>
    <hr />
    <h2>Are you sure that you want to delete the product?</h2>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id">
        <input type="submit" value="Delete" class="btn btn-danger">
        |
        <a asp-action="Index">Back to products list</a>
    </form>

</div>